
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DATOS II</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home"></i>INICIO </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto"><i class="fas fa-building"></i>Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adivina"><i class="fas fa-envelopment"></i>Juego adivina el lugar</a>
          </li>

        </ul>
      </div>
    </nav>

