<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/ow-.carousel.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./css/tooplate-style.css">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <%- include ('partials/head.html')  %>

</head>

<body >
    <%- include ('partials/navigation.html')  %>

  
     
         <!-- ABOUT -->
         <section id="about" data-stellar-background-ratio="0.5">
            <div class="container">
                 <div class="row">
  
                      <div class="col-md-offset-3 col-md-6 col-sm-12">
                           <div class="section-title">
                                <h1>Desarrolladores</h1>
                           </div>
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                           <div class="team-thumb">
                                <img src="./assets/fotoperfil.jpg" class="img-responsive" alt="Andrew Orange">
                                <div class="team-info team-thumb-up">
                                     <h2>Leonardo Aguilera</h2>
                                     <small>Estudiante uninorte</small>
                                     <p>Email: lmaguilera@uninorte.edu.co</p>
                                </div>
                           </div>
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                           <div class="team-thumb">
                                <div class="team-info team-thumb-down">
                                     <h2>Alvaro Cabrera</h2>
                                     <small>Estudiante uninorte</small>
                                     <p>Email: calvaroj@uninorte.edu.co</p>
                                </div>
                                <img src="./assets/foto_alvaro.jpeg" class="img-responsive" alt="Catherine Soft">
                           </div>
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                           <div class="team-thumb">
                                <img src="./assets/foto_mariana.jpeg" class="img-responsive" alt="Jack Wilson">
                                <div class="team-info team-thumb-up">
                                     <h2>Mariana Oquendo</h2>
                                     <small>Estudiante uninorte</small>
                                     <p>Email: oquendo@uninorte.edu.co</p>
                                </div>
                           </div>
                      </div>
                      
                 </div>
            </div>
       </section>
  
</body>
</html>