<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.html')  %>
    <title>Document</title>
    <style>
        body {
            background-color: rgb(162, 190, 199);
        }

        footer {
            background-color: gray;
            position: absolute;
            bottom: 0;
            width: 100%;
            color: white;
            justify-content: center;
        }

        .divisor {
            float: left;
            margin: 10px;
            padding-right: 10px;
            padding-left: 10px;
            justify-content: center;
        }

        #formulario {
            background: rgb(84, 132, 187);
            padding: 3px;

            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #formulario input {
            border: 0;
            padding: 10px;
            width: 70%;
            margin-right: 0.5%;
        }

        #formulario button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }

        #nom {
            margin-left: 30%;
            margin-right: auto;
        }

        #ingrese {
            margin-left: 30%;
            margin-right: auto;
        }
    </style>
</head>

<body background="/assets/fondo4.jpg" style="background-repeat: no-repeat; background-position: center center;background-size: cover;">
    <%- include ('partials/navigation.html')  %>
    
  
    <h3 style="display: flex;justify-content: center;align-items: center;background-color:#00ff88;margin: 0px;">Para dar inicio clic en "Ingresar"</h3>
    
  
    <div style="background-color: #eee;padding: 10px;margin-top: 4%;margin-left: 75%;margin-right: 5%;width: 20%;">
       
        <h1 style="display: flex;justify-content: center;align-items: center;">Bienvenido</h1>

        
        <form class="form-inline" style="display: flex;justify-content: center;align-items: center;">
    
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Nick</label>
            
            </div>
            <button type="button" onclick="window.location.href='/adivina';"   class="btn btn-primary mb-2">Ingresar</button>
            <img   align=”middle” src="/assets/control.png" style="width: 100%;" alt="">
        </form>
       
        
    </div>
    <%- include ('partials/footer.html')  %>


    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>




</body>

</html>